{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('style/contact.css') }}">
{% endblock %}
{% block body %}
	<section class="hero hero-contact">
		<div class='backgroud-hero'>
			<div class="max-width">
				{{ form_start(formulaire, {'attr': {'class': 'formContact'}}
				)}}
				<h2>Contactez moi</h2>
				<div class="zones">
					<div class="zonneForm zonneForm1">
						<div class="name deuxinfo">
							<div class="champ lastname">
								<div>
									{{ form_label(formulaire.Nom, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.Nom, {'attr': {'class': 'info'}}) }}
									{% if formulaire.Nom.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.Nom.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
							<div class="firstname champ">
								<div>
									{{ form_label(formulaire.Prenom, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.Prenom, {'attr': {'class': 'info'}}) }}
									{% if formulaire.Prenom.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.Prenom.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="contacts deuxinfo">
							<div class="champ email">
								<div>
									{{ form_label(formulaire.email, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.email, {'attr': {'class': 'info'}}) }}
									{% if formulaire.email.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.email.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
							<div class="champ tel">
								<div>
									{{ form_label(formulaire.Telephone, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.Telephone, {'attr': {'class': 'info'}}) }}
									{% if formulaire.Telephone.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.Telephone.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>

						</div>

						<div class="champ object">
							<div>
								{{ form_label(formulaire.Object, null, {'label_attr': {'class': 'label'}}) }}
								{{ form_widget(formulaire.Object, {'attr': {'class': 'info'}}) }}
								{% if formulaire.Object.vars.errors|length > 0 %}
									<ul class="error-list">
										{% for error in formulaire.Object.vars.errors %}
											<li class="error-message">{{ error.message }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
						<div class="champ message">
							<div>
								{{ form_label(formulaire.Message, null, {'label_attr': {'class': 'label'}}) }}
								{{ form_widget(formulaire.Message, {'attr': {'class': 'info'}}) }}
								{% if formulaire.Message.vars.errors|length > 0 %}
									<ul class="error-list">
										{% for error in formulaire.Message.vars.errors %}
											<li class="error-message">{{ error.message }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
						<div class="champ confidencionality">
							<input type="checkbox" class="info" name="confidentiality" id="Check">
							<label for="confidencionality" class="label">
								En soumettant ce formulaire, j'accepte que mes données personnelles soient utilisées pour me recontacter. Aucun autre traitement ne sera effectué avec mes informations. Pour connaître et exercer vos droits, veuillez consultez la
								<a target="_blank" href="{{ asset('doc/Confidencialité.pdf') }}">Politique de confidentialité</a>.</label>
						</div>
						{% if success %}
							<div class="champ">
								<p class="info success">{{ success }}</p>
							</div>
						{% endif %}
						<div class="champ div-button">
							{{ form_row(formulaire.Envoyer, {'attr': {'class': 'champ submit'}})}}
						</div>

					</div>
					<div class="zonneForm zonneForm2">
						<div class="contactRight">
							<div class="contentContactRight momMail">
								<figure>
									<img src="./img/email.svg" alt="icon mail">
								</figure>
								<p>db.elec.renov@gmail.com</p>
							</div>
							<div class="contentContactRight monAdresse">
								<figure>
									<img src="./img/house.svg" alt="icon hause">
								</figure>
								<p>5 allée de la Biscuiterie, 01250, CEYZERIAT</p>
							</div>
						</div>
					</div>

				</div>


				{{ form_end(formulaire) }}
			</div>
		</div>
	</section>
	{% block js %}
		<script src="../js/burger.js"></script>
	{% endblock %}

{% endblock %}
