{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('style/contact.css') }}">
{% endblock %}
{% block body %}
	<section class="hero hero-contact">
		<div class='backgroud-hero'>
			<div class="max-width">
				{{ form_start(formulaire, {'attr': {'class': 'formContact'}}
				)}}
				<h2>Contactez moi</h2>
				<div class="zones">
					<div class="zonneForm zonneForm1">
						<div class="name deuxinfo">
							<div class="champ lastname">
								<div>
									{{ form_label(formulaire.nom, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.nom, {'attr': {'class': 'info'}}) }}
									{% if formulaire.nom.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.nom.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
							<div class="firstname champ">
								<div>
									{{ form_label(formulaire.prenom, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.prenom, {'attr': {'class': 'info'}}) }}
									{% if formulaire.prenom.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.prenom.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="contacts deuxinfo">
							<div class="champ email">
								<div>
									{{ form_label(formulaire.email, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.email, {'attr': {'class': 'info'}}) }}
									{% if formulaire.email.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.email.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
							<div class="champ tel">
								<div>
									{{ form_label(formulaire.telephone, null, {'label_attr': {'class': 'label'}}) }}
									{{ form_widget(formulaire.telephone, {'attr': {'class': 'info'}}) }}
									{% if formulaire.telephone.vars.errors|length > 0 %}
										<ul class="error-list">
											{% for error in formulaire.telephone.vars.errors %}
												<li class="error-message">{{ error.message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>

						</div>

						<div class="champ object">
							<div>
								{{ form_label(formulaire.object, null, {'label_attr': {'class': 'label'}}) }}
								{{ form_widget(formulaire.object, {'attr': {'class': 'info'}}) }}
								{% if formulaire.object.vars.errors|length > 0 %}
									<ul class="error-list">
										{% for error in formulaire.object.vars.errors %}
											<li class="error-message">{{ error.message }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
						<div class="champ message">
							<div>
								{{ form_label(formulaire.message, null, {'label_attr': {'class': 'label'}}) }}
								{{ form_widget(formulaire.message, {'attr': {'class': 'info'}}) }}
								{% if formulaire.message.vars.errors|length > 0 %}
									<ul class="error-list">
										{% for error in formulaire.message.vars.errors %}
											<li class="error-message">{{ error.message }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
						<div class="champ confidencionality">
							<div>
								{{ form_label(formulaire.confidencionality, null, {'label_attr': {'class': 'label'}}) }}
								{{ form_widget(formulaire.confidencionality, {'attr': {'class': 'info', 'id': 'Check' }}) }}

							</div>
							{% if formulaire.confidencionality.vars.errors|length > 0 %}
								<ul class="error-list">
									{% for error in formulaire.confidencionality.vars.errors %}
										<li class="error-message">{{ error.message }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
						{% if success %}
							<div class="champ">
								<p class="info success">{{ success }}</p>
							</div>
						{% endif %}
						<div class="champ div-button">
							{{ form_row(formulaire.envoyer, {'attr': {'class': 'champ submit'}})}}
						</div>

					</div>
					<div class="zonneForm zonneForm2">
						<div class="contactRight">
							<div class="contentContactRight momMail">
								<figure>
									<img src="./img/email.svg" alt="icon mail">
								</figure>
								<p>db.elec.renov@gmail.com</p>
							</div>
							<div class="contentContactRight monAdresse">
								<figure>
									<img src="./img/house.svg" alt="icon hause">
								</figure>
								<p>5 allée de la Biscuiterie, 01250, CEYZERIAT</p>
							</div>
						</div>
					</div>

				</div>


				{{ form_end(formulaire) }}
			</div>
		</div>
	</section>
	{% block js %}
		<script src="../js/burger.js"></script>
	{% endblock %}

{% endblock %}
