{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('style/contact.css') }}">
{% endblock %}
{% block body %}
	<section class="hero hero-contact">
		<div class='backgroud-hero'>
			<div class="max-width">
				{{ form_start(formulaire, {'attr': {'class': 'formContact'}}
				)}}
				<h2>Contactez moi</h2>
				<div class="zones">
					<div class="zonneForm zonneForm1">
						<div class="name deuxinfo">
							<div class="champ lastname">
								{{ form_row(formulaire.Nom, {'attr': {'class': 'info'}, 'label_attr': {'class': 'label'}})}}
							</div>
							<div class="firstname champ">
								{{ form_row(formulaire.Prenom, {'attr': {'class': 'info'}, 'label_attr': {'class': 'label'}})}}
							</div>
						</div>
						<div class="contacts deuxinfo">
							<div class="champ email">
								{{ form_row(formulaire.email, {'attr': {'class': 'info'}, 'label_attr': {'class': 'label'}})}}
							</div>
							<div class="champ tel">
								{{ form_row(formulaire.Telephone, {'attr': {'class': 'info'}, 'label_attr': {'class': 'label'}})}}
							</div>

						</div>

						<div class="champ object">
							{{ form_row(formulaire.Object, {'attr': {'class': 'info'}, 'label_attr': {'class': 'label'}})}}
						</div>
						<div class="champ message">
							{{ form_row(formulaire.Message, {'attr': {'class': 'info','cols':'30', 'row':'10'}, 'label_attr': {'class': 'label'}})}}
						</div>
						<div class="champ confidencionality">
							<input type="checkbox" class="info" name="confidentiality" id="Check">
							<label for="confidencionality" class="label">
								En soumettant ce formulaire, j'accepte que mes données personnelles soient utilisées pour me recontacter. Aucun autre traitement ne sera effectué avec mes informations. Pour connaître et exercer vos droits, veuillez consultez la
								<a target="_blank" href="{{ asset('doc/Confidencialité.pdf') }}">Politique de confidentialité</a>.</label>
						</div>
						<div class="champ div-button">
							{{ form_row(formulaire.Envoyer, {'attr': {'class': 'champ submit'}})}}
						</div>

					</div>
					<div class="zonneForm zonneForm2">
						<div class="contactRight">
							<div class="contentContactRight momMail">
								<figure>
									<img src="./img/email.svg" alt="icon mail">
								</figure>
								<p>db.elec.renov@gmail.com</p>
							</div>
							<div class="contentContactRight monAdresse">
								<figure>
									<img src="./img/house.svg" alt="icon hause">
								</figure>
								<p>5 allée de la Biscuiterie, 01250, CEYZERIAT</p>
							</div>
						</div>
					</div>

				</div>


				{{ form_end(formulaire) }}
			</div>
		</div>
	</section>
	{# {% if confirmation is defined and confirmation != '' %}
		<script>
			alert("{{ confirmation|raw }}");
		</script>
	{% endif %} #}
	{% block js %}
		<script src="../js/burger.js"></script>
		<script src="../js/contact.js"></script>
	{% endblock %}

{% endblock %}
