{% extends 'base.html.twig' %}
{% block body %}
	<section class="hero hero-prestation">
		<div class='backgroud-hero backgroud-hero-renovation'>
			<div class="triangle-right">
				<div class="texte-hero">
					<h1>DU B’AIN AU SALON</h1>
					<p class='first-p-realisation'>mes plus belle réalisations</p>
					<p class="p-second-herosdb">Contactez votre spécialiste en rénovation pour réaliser votre rêve. J'interviens à Bourg-en-Bresse (01) et les environs.</p>
				</div>
			</div>
			<div class="max-width"></div>
		</div>
	</section>
	<section class='content-sdb content-realisation'>
		<div class="triangle-left"></div>
		<div class="triangle-right"></div>
		<div class="max-width">
			{% for site in sites %}
				<div class="point">
					<div class="glider-contain">
						<div class="glider">
							{% for image in site.siteImages %}
							<div class="product-box">
								<div class="p-img-container">
									<div class='p-img'>
										<figure>
											<img src="../uploads/attachment/{{ image.name }}" class='p-img-front' alt="">
										</figure>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="slider-btns">
						<button aria-label="Previous" class="glider-prev prev-slider-first">
							<figure>
								<img src="../img/Arrow.svg" alt="fleche">
							</figure>
						</button>
						<button aria-label="Next" class="glider-next next-slider-first">
							<figure>
								<img src="../img/Arrow.svg" alt="fleche">
							</figure>
						</button>
					</div>
					<div class="description-site">
						<h4>{{ site.name }}</h4>
						{% if site.surface %}
						<p>Surface:
							{{ site.surface }}
							m2</p>
						{% endif %}
						{% if site.price %}
							<p>Coût :
								{{ site.price }}
								€</p>
						{% endif %}
						{% if site.localisation %}
						<p>Lieu :
							{{ site.localisation }}</p>
						{% endif %}
						{% if site.duration %}
						<p>Durée du chantier:
							{{ site.duration }}
							semaines
						</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	{% block js %}
		<script src="../js/glider.js"></script>
		<script src="../js/realisation.js"></script>
		<script src="../js/burger.js"></script>
	{% endblock %}
{% endblock %}
