{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.RGPDConsent) }}

				<button type="submit" class="btn">M'inscrire</button>
				{{ form_end(registrationForm) }}


			</div>
		</div>
	</section>

{% endblock %}
